@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./assets/background.png");
  background-size: cover;
  /* text-align: center; */
  padding: 1em;
  font-family: "Nunito", sans-serif;
}

h1 {
  /* text-align: center; */
  font-size: 20px;
  margin-top: 5em;
}

h1,
p,
h3 {
  color: #fff;
}
h1 span {
  color: #8fb2f5;
}

p {
  font-size: 14px;
}
ul {
  padding: 0;
}

li span {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  text-align: left;
}

li,
input {
  width: 271px;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .currentLocation {
    font-size: 14px;
  }
}

.weather-animation svg {
  width: 200px;
  height: 100px;
}

button {
  background-color: #8fb3f500;
  color: #424040;
  border: none;

  cursor: pointer;
  padding: 0;
}

li {
  background-color: #3b3b5418;
  list-style: none;
  height: 56px;
  transition: transform 0.4s ease; /* Transform özelliğine geçiş ekle, süre: 0.3s, kolaylık: ease */

  margin: 10px auto;
  display: flex;
  align-items: center;
  cursor: pointer;

  justify-content: space-between;
  font-size: 14px;
  color: #ffffff;
  padding: 0 20px;
}

.searchResult {
  background-color: #403c54;
  margin: 1px auto;
}

.searchResult:hover {
  background-color: #3b3b54;
  transform: scale(1.01);
  transition: 0.3s;
  box-shadow: none;
}
.desc {
  font-size: 11px;
  color: #8fb2f5;
  display: contents;
}

.temperature {
  font-weight: 700;
  margin-left: -10px;
}
li:hover {
  box-shadow: 0 0 10px 0 #8fb2f5;
  transform: scale(1.1);
  /* transition: 0.3s; */
}

li svg {
  padding-right: 15px;
  /* padding-left: 30%; */
}

li i:hover {
  color: #8fb2f5;
}

input {
  padding: 20px;
  border: none;
  background-color: #1e1e29;
  color: #fff;
}
